* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    color: white;
    background-color: #000000;
    height: 100vh;
    width: 100vw;
}

.firstHalf {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introductionCard {
    margin-left: 50px;
}

.introductionCard .names {
    color: #fca311;
}
