.mainContainer {
    display: flex;
    flex-direction: row;
    background-color: black;
}

.introHalf {
    height: 100vh;
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introHalf .aboutIntro {
    position: fixed;
}

.aboutIntro span {
    color: transparent;
    -webkit-text-stroke: 1px #fca311;
    position: relative;
}

.aboutIntro span::before {
    content: "PROJECTS";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: #fca311;
    animation: slideIn 1s ease-in forwards;
}

@keyframes slideIn {
    to {
        width: 100%;
    }
}

.projectsHalf {
    height: fit-content;
    width: 65vw;
    background-color: #fca311;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectsHalf .promoteGithub {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsHalf .promoteGithub img {
    height: 35px;
    width: 35px;
    margin-left: 10px;
    cursor: pointer;
}

.projectCards {
    height: fit-content;
    width: auto;
    min-width: 700px;
    margin: 20px 0px;
    background-color: #14213d;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.projectCards .image {
    max-height: 500px;
    max-width: 400px;
    border-radius: 8px;
}

.projectCards .projectName {
    margin-left: 20px;
}

.projectCards .details {
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    text-align: justify;
    font-weight: 500;
}

.projectRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.techUsed {
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: fit-content;
}

.techUsed img {
    margin-left: 10px;
    height: 35px;
    width: 35px;
}
